<figure class="card">
    <div class="card__emoji">{%ICON%}</div>

    <div class="card__title-box">
      <h2 class="card__title">{%PROJECTNAME%}</h2>
    </div>

    <div class="card__details">
      <div class="card__detail-box {%NOT_DYNAMIC%}">
        <h6 class="card__detail card__detail--organic ">Dynamic!</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">{%TECH_STACK%}</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail card__detail--price"><a href="{%DEMO%}"> DEMO </a></h6>
      </div>
    </div>

    <a class="card__link" href="/project?id={%ID%}">
      <span>Detail <i class="emoji-right">👉</i></span>
    </a>
  </figure>