<figure class="card">
    <div class="card__emoji">{%EMOJI%}</div>

    <div class="card__title-box">
      <h2 class="card__title">{%PROJECTNAME%}</h2>
    </div>

    <div class="card__details">
      <div class="card__detail-box">
        <h6 class="card__detail card__detail--organic {%NOT_DYNAMIC%}">Dynamic!</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail">{%TECH_STACK%}</h6>
      </div>

      <div class="card__detail-box">
        <h6 class="card__detail card__detail--price"><a href="{%DEMO%}"> DEMO </a></h6>
      </div>
    </div>

    <a class="card__link" href="{%ID%}">
      <span>Detail <i class="emoji-right">👉</i></span>
    </a>
  </figure>